:root{
  --main-bg-collor: #ffffff;
  --main-bg-collor-gray: #F0F1F3;
  --main-bg-collor-buttom: #635DFF;
  --main-border-input:#C2C8D0;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
  background:var(--main-bg-collor); 
}

